@model List<AstroPhotoGallery.Models.Picture>
@{
    ViewBag.Title = "List";
}

@Styles.Render("~/Content/galleryListStyles.css")
@Styles.Render("~/fonts/font-awesome/css/font-awesome.min.css")


<div class="container">
    <div class="row">
        <div class="text-center">
            <h1>Sample Image Gallery</h1>
        </div>
        <div class="row">
            @foreach (var picture in Model)
            {
                <div class="col-sm-12">
                    <div class="col-md-4">
                        <div class="well">
                            @Html.ActionLink(@picture.PicTitle, "Details", "Picture", new { @id = picture.Id }, null)
                            <a target="_blank" href="@Url.Content(picture.ImagePath)">
                                <img class="thumbnail img-responsive" alt="Gallery photo" src="@Url.Content(picture.ImagePath)" />
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        @picture.PicDescription
                        <div class="pull-right">
                            @foreach (var tag in picture.Tags)
                            {
                                @Html.ActionLink(tag.Name, "List", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })
                            }
                        </div>
                    </div>

                    <small class="author pull-right">
                        --author @picture.PicUploader.Email
                    </small>
                </div>
            }
        </div>
    </div>
</div>
