@model List<AstroPhotoGallery.Models.Picture>
@{
    ViewBag.Title = "Pictures by tags";
}

@Styles.Render("~/Content/galleryListStyles.css")
@Styles.Render("~/fonts/font-awesome/css/font-awesome.min.css")

<div class="container">
    <div class="text-center">
        <h2>@ViewBag.Title</h2>
    </div>
    <br />

    @for (var i = 0; i < Model.Count; i++)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="well col-sm-4">
                    <h3>@Html.ActionLink(Model[i].PicTitle, "Details", "Picture", new { id = Model[i].Id }, null)</h3>
                    <a target="_blank" href="@Url.Content(Model[i].ImagePath)">
                        <img class="thumbnail img-responsive" alt="Gallery photo" src="@Url.Content(Model[i].ImagePath)" />
                    </a>
                    <div class="pull-left" style="word-wrap: break-word">
                        Uploader: @Model[i].PicUploader.FirstName @Model[i].PicUploader.LastName
                    </div>
                    <br />
                    <div class="pull-left">
                        Category: @Model[i].CategoryName
                    </div>
                </div>
                <div class="col-sm-8">
                    <pre style="font-family: sans-serif; font-size: 14px; color: #839496; border: none; background-color: transparent;word-wrap: break-word">@Model[i].PicDescription
                         </pre>
                    <div class="pull-left">
                        Tags:&nbsp;
                        @foreach (var tag in Model[i].Tags)
                        {
                            <span>@Html.ActionLink(tag.Name, "List", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })</span>
                        }
                    </div>
                </div>
            </div>
        </div>
        if (i < Model.Count - 1)
        {
            <hr />
        }
    }
</div>


