@model AstroPhotoGallery.Web.Models.EditViewModel
@{
    ViewBag.Title = "Edit your profile";
}
<link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.css" />  @*Used for the date picker*@
<link rel="stylesheet" type="text/css" href="~/Content/browseButtonStyles.css" /> @*Used for the browse custom button*@
<script src="~/Scripts/jquery-ui.js"></script> @*Used for the date picker*@
<script src="~/Scripts/browseButton.js"></script> @*Used for the browse custom button*@

<div class="container">
    <div class="well">
        @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.Id)
            @Html.AntiForgeryToken()
            <h3>@ViewBag.Title</h3>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.FirstName) })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.LastName) })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly", id = "email", placeholder = Html.DisplayNameFor(m => m.Email) })
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" />
                                @Html.CheckBoxFor(m => m.IsEmailPublic)
                                @Html.LabelFor(m => m.IsEmailPublic)
                            </label>
                        </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Gender, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">

                    <span class="radio-inline">@Html.RadioButtonFor(m => m.Gender, "Male", false)@Html.Label("Male")</span>

                    <span class="radio-inline">
                        @Html.RadioButtonFor(m => m.Gender, "Female", false)@Html.Label("Female")
                    </span>

                    <span class="radio-inline">
                        @Html.RadioButtonFor(m => m.Gender, "Prefer not so say", false)@Html.Label("Prefer not so say")
                    </span>

                    <span class="radio-inline">
                        @Html.RadioButtonFor(m => m.Gender, "N/A", false)@Html.Label("N/A")
                    </span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Profile picture", new { @class = "col-sm-4 control-label" })
                <div class="fileinput fileinput-new col-sm-4" data-provides="fileinput">
                    <span class="btn btn-default btn-file"><span>Choose picture</span><input type="file" id="image" name="image" /></span>
                    <span class="fileinput-filename"></span><span class="fileinput-new">No picture chosen</span>
                    @if (Model.ImagePath != null)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" />
                                @Html.CheckBoxFor(m => m.RemovePicture)
                                @Html.LabelFor(m => m.RemovePicture)
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Country, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Country) })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.City, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.City) })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Birthday, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control", @readonly = "readonly", id = "birthday", placeholder = Html.DisplayNameFor(m => m.Birthday) })

                    @if (!string.IsNullOrEmpty(Model.Birthday))
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" />
                                @Html.CheckBoxFor(m => m.RemoveBirthday)
                                @Html.LabelFor(m => m.RemoveBirthday)
                            </label>
                        </div>
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.PhoneNumber) })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <input type="submit" class="btn btn-success" value="Save changes" />
                    <button class="btn btn-default" onclick="location.href = '@Url.Action("MyProfile", "Account")';return false;">Cancel</button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*JS script for the date picker:*@

<script type="text/javascript">

    $(function () {
        $('#birthday').datepicker({
            yearRange: "-120:+0",
            maxDate: "0D",
            changeMonth: true,
            changeYear: true
        });
        $('#birthday').datepicker('option', "showAnim", "fadeIn");
    })
</script>