@model AstroPhotoGallery.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="well">
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h5>Create a new account.</h5>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-lg-4 control-label" })
        <div class="col-lg-4">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.FirstName) })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-lg-4 control-label" })
        <div class="col-lg-4">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" , placeholder = Html.DisplayNameFor(x => x.LastName) })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-lg-4 control-label" })
        <div class="col-lg-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Email) })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-lg-4 control-label" })
        <div class="col-lg-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Password) })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-lg-4 control-label" })
        <div class="col-lg-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.ConfirmPassword) })
        </div>
    </div>
    @*<div class="form-group">
        @Html.Label("Avatar", new { @class = "col-lg-4 control-label" })
        <div class="col-lg-4">
            <input type="file" id="Avatar" name="upload" />
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
            <button class="btn btn-default" onclick="location.href='@Url.Action("Index","Home")';return false;">Cancel</button>
            <input type="submit" class="btn btn-success" value="Register" />
        </div>
    </div>  
}
        </div>
    </div>
        
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
