@model PagedList.IPagedList<AstroPhotoGallery.Models.Category>
@using PagedList.Mvc;
@using System.Linq;
@{
    ViewBag.Title = "List";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="col-md-12">
    <div class="panel">
        <div class="panel-heading">
            <h3>BROWSE BY CATEGORIES</h3>
        </div>
        <div class="panel-body"></div>
        @foreach (var category in Model)
        {
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail ">
                    @if (category.Pictures.Any(p => p.CategoryId == category.Id))
                    {
                        <img src="@Url.Content(category.Pictures.Where(p => p.CategoryId == category.Id).FirstOrDefault().ImagePath) ">
                    }
                    else
                    {
                        <img src="~/Content/images/default-gallery-image.jpg"/>
                    }

                    <div class="caption text-center ">
                        <h4>

                            @Html.ActionLink(string.Format($"{category.Name}"),
                                "ListPictures", "Home", new {@categoryId = category.Id}, null)
                        </h4>

                    </div><!--end caption-->
                </div>
            </div>
        }
    </div>
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ListCategories",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))