@model List<AstroPhotoGallery.Models.Picture>

@{
    ViewBag.Title = "List Pictures";
}

<div class="container">
    <h2>@TempData["CategoryName"]</h2>
    <div class="row">
        @foreach (var picture in Model)
            {
            <div class="col-sm-6 text-center">
                <article>
                    <header>
                        <h3>
                            @Html.ActionLink(@picture.PicTitle, "Details", "Picture", new { @id = picture.Id }, null)
                        </h3>
                    </header>
                    <div class="img-thumbnail">
                        <img src="@Url.Content(picture.ImagePath)" style="width: 360px" class="img-responsive img-rounded center-block" alt="Astro picture" />
                    </div>
                    <p>
                        <br />
                        @picture.PicDescription
                    </p>
                    <footer>
                        <small>
                            Uploader: @picture.PicUploader.Email
                        </small>
                    </footer>
                </article>
            </div>
        }
    </div>
</div>
