@model PagedList.IPagedList<AstroPhotoGallery.Models.Category>
@using PagedList.Mvc;
@using System.Linq;
@{
    ViewBag.Title = "Categories";
}

<div class="container">
    <h2 class="text-center">Browse by categories</h2>
    <br />

    @foreach (var category in Model)
    {
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="/Home/ListPictures/?categoryId=@category.Id">
                    @if (category.Pictures.Any(p => p.CategoryId == category.Id))
                    {
                        <img src="@Url.Content(category.Pictures.Where(p => p.CategoryId == category.Id).FirstOrDefault().ImagePath)" style="width: 360px; height:270px">
                    }
                    else
                    {
                        <img src="~/Content/images/default-gallery-image.jpg" style="width: 360px; height:270px" />
                    }
                </a>
                    <div class="caption text-center">
                        <h4>
                            @string.Format($"{category.Name} ({category.Pictures.Count()})")                          
                        </h4>
                    </div>
               
            </div>
        </div>
    }
</div>

<div class="container">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ListCategories",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

