@model PagedList.IPagedList<AstroPhotoGallery.Models.Picture>
@using PagedList.Mvc;
@{
    ViewBag.Title = TempData["CategoryName"];
}

<div class="container">
    <div class="text-center">
        <h1>@ViewBag.Title</h1>
    </div>
    <br />

    @for (var i = 0; i < Model.Count; i++)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="well col-sm-4">
                    <h3 style="font-weight: bold">@Model[i].PicTitle</h3>
                    <a href="@Url.Action("Details", "Picture", new {id = Model[i].Id})"><img class="thumbnail img-responsive" alt="Astro picture" src="@Url.Content(Model[i].ImagePath)"></a>
                    <div class="pull-left" style="word-wrap: break-word">
                        Uploader: @Model[i].PicUploader.FirstName @Model[i].PicUploader.LastName
                    </div>
                    <br />
                    <div class="pull-left">
                        Category: @Model[i].CategoryName
                    </div>
                    <br />
                </div>
                <div class="col-sm-8">
                    <pre style="font-family: 'Open Sans', Tahoma, Arial; font-size: 14px; color: #839496; border: none; background-color: transparent;word-wrap: break-word">@Model[i].PicDescription
                    </pre>
                    <div class="pull-left">
                        Tags:&nbsp;
                        @foreach (var tag in Model[i].Tags)
                        {
                            <span>@Html.ActionLink(tag.Name, "List", "Tag", new { id = tag.Id }, new { @class = "btn btn-default btn-xs" })</span>
                        }
                    </div>
                </div>
            </div>
        </div>

        if (i < Model.Count - 1) // Put line after all rows except the last one
        {
            <hr />
        }
    }

</div>
<div class="container">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ListPictures", new { page }))
</div>