@model PagedList.IPagedList<AstroPhotoGallery.Models.ApplicationUser>
@using PagedList.Mvc;
@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="well">
        <h2>Users</h2>
        
        @using (Html.BeginForm())
            {
            <p>
                <div class="form-group">
                    @Html.Label("Find User by email: ", new { @class = "control-label col-sm-4" })
                    <div class="col-sm-4">
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                </div>

                <input type="submit" value="Search" class="btn btn-default" />
            </p>
        }


        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>@Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.Email })</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            @foreach (var user in Model)
            {
                if (ViewBag.Admins.Contains(user.UserName))
                {
                    @:<tr class="info">
                }
                else 
                {
                    @:<tr>
                }

                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "User", new { @id = user.Id }, new { @class = "btn btn-success btn-md" } )
                    @Html.ActionLink("Delete", "Delete", "User", new { @id = user.Id }, new { @class = "btn btn-warning btn-md" })
                </td>
            }

            </tbody>
        </table>
        
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>

