@model PagedList.IPagedList<AstroPhotoGallery.Models.ApplicationUser>
@using PagedList.Mvc;
@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="well">
        
        @using (Html.BeginForm("Index", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            <h2>Users</h2>
            <hr/>

            <div class="form-group">
                @Html.Label("Find user by email:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-3">
                    @Html.TextBox("searchUser", null, new { @class = "form-control", placeholder = "User's email" })
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="Search user" class="btn btn-default" />
                </div>
            </div>
        }
        <br/>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>@Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.Email })</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            @foreach (var user in Model)
            {
                if (ViewBag.Admins.Contains(user.UserName))
                {
                    @:<tr class="info">
                }
                else 
                {
                    @:<tr>
                }

                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "User", new { @id = user.Id }, new { @class = "btn btn-success btn-md" } )
                    @Html.ActionLink("Delete", "Delete", "User", new { @id = user.Id }, new { @class = "btn btn-danger btn-md" })
                </td>
            }

            </tbody>
        </table>
        
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>

