@model AstroPhotoGallery.Models.Picture

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/picsDetails.css" rel="stylesheet" />

<div class="col-md-12">
    <div class="thumbnail">
        <img class="img-details" src="@Url.Content(Model.ImagePath)" alt="">
        <div class="caption-full">
            <h4 class="pull-right">
                <small class="author">
                    --author @Model.PicUploader.Email
                </small>
            </h4>
            <h4 style="opacity:initial">
                <p>@Model.PicTitle</p>
            </h4>
            <div>
                @Model.PicDescription
            </div>

        </div>
        <div class="ratings">
            <p class="pull-right">3 reviews</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                4.0 stars
            </p>
        </div>
    </div>
    <div class="pull-right">
        @if (Model.IsUploader(User.Identity.Name))
            {
            @Html.ActionLink("Edit", "Edit", "Picture", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
            @Html.ActionLink("Delete", "Delete", "Picture", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
        }

        @Html.ActionLink("Back", "Index", "Picture", null, new { @class = "btn btn-default btn-xs" })
    </div>

    <div class="well">
        <hr>
        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <span class="pull-right">10 days ago</span>
                <p>This product was great in terms of quality. I would definitely buy another!</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <span class="pull-right">12 days ago</span>
                <p>I've alredy ordered another one!</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <span class="pull-right">15 days ago</span>
                <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
            </div>
        </div>
    </div>
</div>

@*<div class="container">
    <article>
        <header>
            <h2>
                @Model.PicTitle
            </h2>
        </header>
        <p>
            @Model.PicDescription
        </p>
        <small class="author">
            --author @Model.PicUploader.Email
        </small>
        <body>
            <div class="gallery">
                <img src="@Url.Content(Model.ImagePath)" alt="Astro" width="300" height="200">
            </div>
        </body>
        <footer class="pull-right">
            @if (Model.IsUploader(User.Identity.Name))
            {
                @Html.ActionLink("Edit", "Edit", "Picture", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Delete", "Delete", "Picture", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }

            @Html.ActionLink("Back", "Index", "Picture", null, new { @class = "btn btn-default btn-xs" })
        </footer>
    </article>
</div>
<hr />*@


