@using Microsoft.AspNet.Identity
@model AstroPhotoGallery.Models.Picture

@{
    ViewBag.Title = Model.PicTitle;
}

<div class="container">
    <div class="container-fluid">
        <h2>
            @Model.PicTitle
            <span class="pull-right">
                @if (Model.IsUploader(User.Identity.Name) || User.IsInRole("Admin"))
                {
                    <span>
                        @Html.ActionLink("Edit", "Edit", "Picture", new { @id = Model.Id }, new { @class = "btn btn-success btn-md" })
                    </span>

                    <span>
                        @Html.ActionLink("Delete", "Delete", "Picture", new { @id = Model.Id }, new { @class = "btn btn-danger btn-md" })
                    </span>
                }
                @if (Model.IsFirstOfCategory == false)
                {
                    <span>
                        @Html.ActionLink("Previous", "PreviousPicture", "Picture", new { categoryId = Model.CategoryId, picId = Model.Id }, new { @class = "btn btn-primary btn-md" })
                    </span>
                }
                else
                {
                    <span>
                        @Html.ActionLink("Previous", "PreviousPicture", "Picture", new { @class = "btn btn-default disabled" })
                    </span>
                }

                @if (Model.IsLastOfCategory == false)
                {
                    <span>
                        @Html.ActionLink("Next", "NextPicture", "Picture", new { categoryId = Model.CategoryId, picId = Model.Id }, new { @class = "btn btn-primary btn-md" })
                    </span>
                }
                else
                {
                    <span>
                        @Html.ActionLink("Next", "NextPicture", "Picture", new { @class = "btn btn-default disabled" })
                    </span>
                }

                <span>
                    @Html.ActionLink("Download", "DownlandFile", new { filePath = Model.ImagePath }, new { @class = "btn btn-info btn-md" })
                </span>
                <span>
                    @Html.ActionLink("Back", "ListPictures", "Home", new { @categoryId = Model.CategoryId }, new { @class = "btn btn-default btn-md" })
                </span>
            </span>
        </h2>
    </div>
    <div class="well">

        <div class="row">
            <div class="col-sm-6">
                <p>
                    @Model.PicDescription
                </p>
            </div>
            <div class="col-sm-6">
                <a href="#" data-toggle="modal" data-target=".dialog1">
                    <img src="@Url.Content(Model.ImagePath)" width="600" class="img-responsive img-rounded center-block" alt="Astro picture" />
                </a>
            </div>

            @*Used for the enlargement of the picture when clicked*@
            <div class="modal fade dialog1" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title" id="myLargeModalLabel-1">@Model.PicTitle</h4>
                        </div>
                        <div class="modal-body active text-center">
                            <img src="@Url.Content(Model.ImagePath)" alt="Astro picture" width="800" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <span style="opacity: 0.8; color: #839496" class="pull-left">
                    Uploader: @Html.ActionLink($"{@Model.PicUploader.FirstName}  {@Model.PicUploader.LastName}", "ShowProfile", "Account", new { id = Model.PicUploader.Id }, null)
                    <br />
                    Category: @Html.ActionLink(Model.CategoryName, "ListPictures", "Home", new { categoryId = Model.CategoryId }, null)
                    <br />
                    Upload date: @Model.UploadDate.ToString("d-MMM-yyyy")
                    <br />
                    Tags:&nbsp;
                    @foreach (var tag in Model.Tags)
                    {
                        <span>@Html.ActionLink(tag.Name, "List", "Tag", new { id = tag.Id }, new { @class = "btn btn-default btn-xs" })</span>
                    }
                </span>
            </div>
            <div class="col-md-6">
                <span class="pull-left">
                    <span>
                        @*Getting the users that already rated this picture*@
                        @{var usersRatedThePic = Model.UserIdsRatedPic.Split(' ').ToList();}

                        @if (User.Identity.IsAuthenticated)
                        {
                            if (!usersRatedThePic.Contains(User.Identity.GetUserId()) && !Model.IsUploader(User.Identity.Name))
                            {
                                using (Html.BeginForm("RatePicture", "Picture", FormMethod.Post, new { onsubmit = "return true" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <span onmouseout="CRateSelected()">
                                        <span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span><span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span><span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span><span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span><span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                                    </span>
                                    <input type="hidden" name="Rating" id="Rating" value="0" />
                                    <input type="hidden" name="PictureId" value="@Model.Id" />
                                    <br />
                                    <span>
                                        <input type="submit" id="btnRate" name="btnRate" value="Rate" class="btn btn-success" />
                                    </span>
                                }
                            }
                            else
                            {
                                @*<span class="small">
                                    You already rated the picture<br>
                                    or you uploaded it.
                                </span>*@
                            }
                        }
                        else
                        {
                            @*<span class="small">
                                You must be logged in <br>
                                to be able to rate pictures.
                            </span>*@
                        }
                    </span>
                </span>
                <span class="pull-right">
                    <span class="starFadeN" id="sRate1"></span><span class="starFadeN" id="sRate2"></span><span class="starFadeN" id="sRate3"></span><span class="starFadeN" id="sRate4"></span><span class="starFadeN" id="sRate5"></span>
                </span>
            </div>
        </div>
    </div>
</div>

@*Script for the rating system*@
<script>
    function CRate(r) {
        $("#Rating").val(r);
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
        // unselect remaining
        for (var i = r + 1; i <= 5; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }

    function CRateOver(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }

    function CRateOut(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }

    function CRateSelected() {
        var setRating = $("#Rating").val();
        for (var i = 1; i <= setRating; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }

    function SCRate() {
        for (var i = 1; i <= @Math.Round(Model.Rating, MidpointRounding.AwayFromZero); i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function(){
        SCRate();
    });
</script>
