@model AstroPhotoGallery.Models.Picture

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>
        <div class="pull-right">
            @*Empty div required for proper view.*@
        </div>
        @Model.PicTitle
    </h2>

</div>
<div class="panel panel-default">
    <div class="panel-heading resume-heading">

        <div class="row">
            <div class="col-sm-6" style="color: #839496">
                <div style="word-wrap: break-word;">
                    @Model.PicDescription
                </div>
            </div>
            <div class="col-sm-6">
                <a href="#" data-toggle="modal" data-target=".dialog1">
                    <img src="@Url.Content(Model.ImagePath)" width="600" class="img-responsive img-rounded center-block" alt="Astro picture" />
                </a>
            </div>          
                <div class="modal fade dialog1" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title" id="myLargeModalLabel-1">@Model.PicTitle</h4>
                        </div>
                        <div class="modal-body active text-center">
                            <img src="@Url.Content(Model.ImagePath)" alt="Astro picture" width="800" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <span style="opacity: 0.8" class="pull-left">
                    Uploader: @Model.PicUploader.FirstName @Model.PicUploader.LastName
                    <br />
                    Category: @Model.CategoryName
                    <br/>
                    <div class="pull-left">
                        @foreach (var tag in Model.Tags)
                        {
                            @Html.ActionLink(tag.Name, "List", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })
                        }
                    </div>
                 
                </span>
                <span class="pull-right">
                    
                    @if (Model.IsFirstOfCategory == false)
                    {
                        <span>
                            @Html.ActionLink("Previous", "PreviousPicture", "Picture", new {@categoryId = Model.CategoryId, @picId = Model.Id}, new {@class = "btn btn-primary btn-md"})
                        </span>
                    }
                    else
                    {
                        <span>
                            @Html.ActionLink("Previous", "PreviousPicture", "Picture", new { @class = "btn btn-default disabled" })
                        </span>
                    }

                    @if (Model.IsLastOfCategory == false)
                    {
                        <span>
                            @Html.ActionLink("Next", "NextPicture", "Picture", new {@categoryId = Model.CategoryId, @picId = Model.Id}, new {@class = "btn btn-primary btn-md" })
                        </span>
                    }
                    else
                    {
                        <span>
                            @Html.ActionLink("Next", "NextPicture", "Picture", new { @class = "btn btn-default disabled" })
                        </span>
                    }
 
                    <span class="divider"></span>
                    <span>
                        @Html.ActionLink("Download", "DownlandFile", new {filePath = Model.ImagePath}, new {@class = "btn btn-info btn-md"})
                    </span>

                    @if (Model.IsUploader(User.Identity.Name) || User.IsInRole("Admin"))
                    {
                        <span>
                            @Html.ActionLink("Edit", "Edit", "Picture", new {@id = Model.Id}, new {@class = "btn btn-success btn-md"})
                        </span>

                        <span>
                            @Html.ActionLink("Delete", "Delete", "Picture", new {@id = Model.Id}, new {@class = "btn btn-danger btn-md"})
                        </span>
                    }
                    <span>
                        @Html.ActionLink("Back", "ListPictures", "Home", new {@categoryId = Model.CategoryId}, new {@class = "btn btn-default btn-md"})
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/rating.css" rel="stylesheet" />
<fieldset class="rating">
    <legend>Please rate:</legend>
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
</fieldset>


@* <--- Comments examples --->
 <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>User Comment Example</h3>
        </div><!-- /col-sm-12 -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-sm-1">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                </div>
                <div class="panel-body">
                    Panel content
                </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
        <div class="col-sm-1">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                </div>
                <div class="panel-body">
                    Panel content
                </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
    </div><!-- /row -->
</div><!-- /container -->*@
