@model AstroPhotoGallery.Models.Picture

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>
        <div class="pull-right">
        </div>

        @Model.PicTitle
    </h2>


</div>
<div class="panel panel-default">
    <div class="panel-heading resume-heading">

        <div class="row">
            <div class="col-md-8" style="color: #839496">
                <div>
                    @Model.PicDescription
                </div>
            </div>
            <div class="col-md-4 ">
                <!-- Thumbnail image -->
                <a href="#" data-toggle="modal" data-target=".dialog1">
                    <img src="@Url.Content(Model.ImagePath)" width="100%" class="img-responsive img-rounded center-block" alt="" />
                </a>
            </div>

            <!-- Modal content for City Image -->
            <div class="modal fade dialog1" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title" id="myLargeModalLabel-1">@Model.PicTitle</h4>
                        </div>
                        <div class="modal-body active">
                            <img src="@Url.Content(Model.ImagePath)" alt="Astro" width="100%" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <span class="author" style="opacity: 0.8">
                    Uploader: @Model.PicUploader.FirstName @Model.PicUploader.LastName <br />
                    Category: @Model.CategoryName
                </span>
                <div class="pull-right">
                    @if (Model.IsUploader(User.Identity.Name))
                    {
                        <span>
                            @Html.ActionLink("Edit", "Edit", "Picture", new { @id = Model.Id }, new { @class = "btn btn-success btn-sm" })
                        </span>

                        <span>
                            @Html.ActionLink("Delete", "Delete", "Picture", new { @id = Model.Id }, new { @class = "btn btn-warning btn-sm" })
                        </span>
                    }
                    <span>
                        @Html.ActionLink("Back", "Index", "Picture", null, new { @class = "btn btn-default btn-sm" })
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>User Comment Example</h3>
        </div><!-- /col-sm-12 -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-sm-1">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                </div>
                <div class="panel-body">
                    Panel content
                </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
        <div class="col-sm-1">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                </div>
                <div class="panel-body">
                    Panel content
                </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
    </div><!-- /row -->
</div><!-- /container -->
